<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :client_number %><br>
    <%= f.number_field :client_number %>
  </div>

  <div class="field">
      <%= f.label :categories %><br>
      <%= f.collection_select(:category, Category.all, :name, {:prompt => "Category"}, {:multiple => true}) %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
      <%= f.label :Vendedores %><br>
      <%= f.collection_select(:seller, Seller.all, :name, {:prompt => "Vendedores"}, {:multiple => true})%>
  </div>

  <div class="field">
    <%= f.label :CP %><br>
    <%= f.number_field :CP %>
  </div>

  <div class="field">
    <%= f.label :zona %><br>
    <%= f.text_field :zona %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
