<div class="page-header">
<table>
  <tr>
    <td>
      <div style='width: 800px;'>
          <div id="map" style='width: 800px; height: 400px;'></div>
      </div>
    </td>
    <td>
      <ul id="category_list">
        <li class="title">Categorias</li>
        <li><a href='/ping_in_map/none'>Limpiar todos</a></li>
        <% Category.all.each do |category| %>
          <li><a href=<%= "/ping_in_map/#{category.id}" %>><%= category.name %></a></li>
        <% end %>
        <li><a href='/ping_in_map/all'>Marcar Todos</a></li>
        <br>
        <li class="title">Vendedores</li>
        <li><a href='/seller_on_board/all'>Marcar Todos</a></li>
        <% Seller.all.each do |seller| %>
        <li><a href=<%="/seller_on_board/#{seller.id}" %>><%= seller.name %></a></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<script type="text/javascript">
 handler = Gmaps.build('Google');
 handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
     markers = handler.addMarkers(<%=raw @hash.to_json %>);
     handler.bounds.extendWith(markers);
     handler.fitMapToBounds();
 });
</script>
<br/><br/>

<h1>Lista de Clientes</h1>
</div>

<div class="table-responsive">
<table class="table table-striep table-hover">
<thead>
<tr>
 <th>Latitude</th>
 <th>Longitude</th>
 <th>Cliente</th>
 <th>Nombre</th>
 <th>Direccion</th>
 <th>Codigo Postal</th>
 <th>Zona</th>
 <th>Descripcion</th>
 <th></th>
 <th></th>
</tr>
</thead>

<tbody>
<%= content_tag_for(:tr, @clients) do |client| %>
 <tr>
   <td><%= client.latitude %></td>
   <td><%= client.longitude %></td>
   <td><%= client.client_number %></td>
   <td><%= client.name %></td>
   <td><%= client.address %></td>
   <td><%= client.CP %></td>
   <td><%= client.zona %></td>
   <td><%= client.description %></td>
   <% if signed_in? %>
   <td><%= link_to 'Show', client, class: 'link_to' %></td>
   <td><%= link_to 'Edit', "/admin/client/#{client.id}/edit", class: 'link_to' %></td>
   <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link_to' %></td>
 </tr><% end %>
<% end %>
</tbody>
</table>
</div>

<% if signed_in? %>
<div class="form-group">
    <h3>Importar CSV File</h3>
    <%= form_tag import_clients_path, multipart: true, class: 'form-inline' do %>
        <%= file_field_tag :file, class: '' %><br/>
        <%= submit_tag "Import CSV" , class: 'btn btn-info'%>
    <% end %>
    <h3>Agregar Nuevo Cliente</h3>
    <%= link_to "New Client", '/admin/client/new', class: 'btn btn-warning btn-sm' %>
    <h3>Download CSV File </h3>
        <%= link_to "Export CSV File", '/clients.csv', class: 'btn btn-default btn-sm' %>
    <h3>Download Excel File</h3>
    <%= link_to "Export Excel File", '/clients.xls', class: 'btn btn-default btn-sm' %> <hr/><br/>
</div
<h5>Para mayor informacion como subir los archivos extencion CSV visite el siguiente sitio<%= link_to "Aqui", '/help/index', class: 'btn btn-link btn-sm'%></h5>
<% end %>


<br/>
<style>
.link_to {
  color: grey;
}

#category_list {
  display: block;
  background-color: #6793ea;
  list-style-type: none;
  height: 400px;
  margin-top: 10px;
  width: 200px;
}

#category_list li a {
  color: white;
  margin-left: -20px;
  margin-top: 10px;
}

#category_list .title {
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: -20px;
  font-size: 14pt;
  padding-top: 6px;
}

#category_list li a:hover {
  background: none !important;
  text-decoration: none;
  color: grey;
}
</style>
